<div class="login-container" id="cloud-container">
  <div class="login-box animated fadeInDown">
    <!--<div class="login-logo"></div>-->
    <div class="login-body">
      <div class="login-title"><strong>Welcom Admin</strong>, Reset Password</div>
      <form [formGroup]="forgotPasswordForm"  (ngSubmit)="onSubmit(forgotPasswordForm.value)" novalidate  class="form-horizontal">
        <div  class="form-group"  ngClass="{
                    'has-error': !forgotPasswordForm.get('email').valid && forgotPasswordForm.get('email').dirty
                }"   >
          <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Enter Your Email" formControlName="email" required>
             <div *ngIf="forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].dirty">
                    <p class="form_error" *ngIf="forgotPasswordForm.controls['email'].hasError('required')">Please enter email.</p>
                    <p  *ngIf="forgotPasswordForm.hasError('email', 'email') && !forgotPasswordForm.controls['email'].hasError('required')" class="form_error" >
                Please enter the correct email or valid email.
            </p>
           </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6">
            <a routerLink="/admin" class="btn btn-link btn-block">Login Now </a>
          </div>
          <div class="col-md-6">
            <button class="btn btn-info btn-block" type="submit">Reset Password</button>
          </div>
        </div>
      </form>
    </div>
    <div class="login-footer">
      <div class="pull-left">
        © {{ today | date: 'yyyy' }} Consular Insights
      </div>
    </div>
  </div>

</div>